<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <h1 class="h1__main centered">Lily's Bakery</h1>
        <div class="centered">
        <img class="img__main" src="https://images.unsplash.com/photo-1506459225024-1428097a7e18?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80" alt="main photo">
    </div>
    <a href="/products">To Products</a>
    </main>
<%- include('../includes/end.ejs') %>